{% macro isActive(pageTitle) -%}
  {%- if pageTitle == title -%}active{%- endif -%}
{%- endmacro %}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">{{ site.title }}</a>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">

    {# Menus #}
    {# <ul class="navbar-nav mr-auto">
      {% for item in menus %}
        {% if item.childLinks.length > 0 %}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="{{ item.link }}" id="navbarDropdown" role="button"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {{ item.i18nKey | i18n }}
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              {% for childItem in item.childLinks %}
                <a class="dropdown-item" href="{{ item.link }}/{{ childItem.link }}">{{ childItem.i18nKey | i18n }}</a>
              {% endfor %}
            </div>
          </li>
        {% else %}
          <li class="nav-item">
            <a class="nav-link" href="{{ item.link }}">{{ item.i18nKey | i18n }}</a>
          </li>
        {% endif %}
      {% endfor %}
    </ul> #}
    {# Menus #}

  </div>
</nav>