{% set categories = collections.groups.categories %}

{% macro isActive(pageCategory) -%}
  {%- if pageCategory == category -%}active{%- endif -%}
{%- endmacro %}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="{{ site.baseHref }}">{{ site.title }}</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">

    {# Menus #}
    <ul class="navbar-nav mr-auto">
      {% for eachCategory in categories %}
        <li class="nav-item">
          <a class="nav-link {{ isActive(eachCategory.category) }}" href="{{ site.baseHref }}/{{ eachCategory.url }}">{{ eachCategory.title }}</a>
        </li>
      {% endfor %}
    </ul>
    {# Menus #}

  </div>
</nav>